<div class="contenido-superior vacante contenedor">
  <div class="caja">
    <p class="etiqueta">Empresa</p>
    <p class="nombre">{{vacante.empresa}}</p></div>
  <div class="caja">
    <p class="etiqueta">Ubicación</p>
    <p class="nombre">{{vacante.ubicacion}}</p></div>
  <div class="caja">
    <p class="etiqueta">Contrato</p>
    <p class="nombre contrato">{{vacante.contrato}}</p></div>
  <div class="caja">
    <p class="etiqueta">Salario</p>
    <p class="nombre">$ {{vacante.salario}}</p></div>
</div>

<div class="vacante-contenedor contenedor">
  <main class="contenido">
    <h2>Descripción Puesto</h2>
    <div class="vacante-descripcion">
      {{{vacante.descripcion}}}</div>
    <a href="/vacantes/editar/{{vacante.url}}" class="btn btn-azul editar-btn">
      Editar</a>
  </main>
  <aside class="sidebar">
    <h2>Conocimientos</h2>
    <ul class="skills">
      {{#each vacante.skills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</div>

<div class="contentedor datos-reclutador">
  <div class="enviar-datos">
    <h2>Contactar con el Reclutador</h2>
    <p>Llena los datos, y sube tu curriculum</p>

    <form method="POST" class="default-form" enctype="multipart/form-data">
      <div class="campo">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Tu nombre">
      </div>

      <div class="campo">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Tu email">
      </div>

      <div class="campo">
        <label for="cv">CV|pdf</label>
        <input type="file" name="cv" id="cv">
      </div>

      <div class="campo">
        <input type="submit" class="btn btn-verde" value="Enviar">
      </div>
    </form>
  </div>

  <div class="info-reclutador">
    <h2>Información Reclutador</h2>
    {{#if vacante.autor.nombre}}
      <p>{{vacante.autor.nombre}}</p>
    {{/if}}

    {{#if vacante.autor.imagen}}
      <img src="/uploads/perfiles/{{vacante.autor.imagen}}" alt="">
    {{/if}}
  </div>
</div>